@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #016179,#451bb9, #451bb9); /* Gradiente azul */
}

.h1{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-left: 290px;
    margin-top: 80px;
    margin-bottom: 30px;
    transform: translate(-50%, -50%);

}

.circle-container{
    position: relative;
    width: 300px;
    height: 300px;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.circle-container img{
    position: absolute;
    width: 130px;
    height: 120px;
    border-radius: 35%;
    object-fit: cover;
    border: 2px solid white;
}
.img_1 {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.img_2 {
    top: 25%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.img_3 {
    top: 75%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.img_4 {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.img_5 {
    top: 75%;
    left: 15%;

    transform: translate(-50%, -50%);
}